<?xml version="1.0" encoding="utf-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.javcode.exatlixco"
	version="1.0">

<name> VillaAtlix </name>

<description>
Appoficial
</description>

<author href="https://build.phonegap.com" email="ortegaphoenix@gmail.com">
	Applix
</author>
	
	<platform name="android" />
	
	<preference name="DisallowOverscroll" value="true"/> 
	
	<preference name="KeepRunning" value="true"/> 
	
	<preference name="SplashShowOnlyFirstTime" value="false" />
	
	<preference name="SplashMaintainAspectRatio" value="false" />
	

<preference name="SplashScreen" value="splash" />
	
<preference name="SplashScreenDelay" value="4000" />
	
	<preference name="FadeSplashScreenDuration" value="750"/>
	
	<preference name="FadeSplashScreen" value="true"/>
	
	<preference name="ShowSplashScreenSpinner" value="false"/>
	

    <splash platform="android" qualifier="port-hdpi" src="res/drawable-port-hdpi/splash.png" />
    <splash platform="android" qualifier="port-ldpi" src="res/drawable-port-ldpi/splash.png" />
    <splash platform="android" qualifier="port-mdpi" src="res/drawable-port-mdpi/splash.png" />
    <splash platform="android" qualifier="port-xhdpi" src="res/drawable-port-xhdpi/splash.png" />
    <splash platform="android" qualifier="port-xxhdpi" src="res/drawable-port-xxhdpi/splash.png" />
    <splash platform="android" qualifier="port-xxxhdpi" src="res/drawable-port-xxxhdpi/splash.png" />

	<splash src="splash.jpg" />
	
	
<preference name="orientation" value="portrait"/>
	
<preference name="target-device" value="universal"/>
<preference name="fullscreen" value="true"/>
	
<preference name="android-installLocation" value="auto"/>
<preference name="permissions" value="INTERNET"/>
<preference name="permissions" value="CALL_PHONE"/>

	
<allow-intent href="tel:*" />
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />


<!-- Plugins -->
<!-- Core plugins -->
<plugin name="cordova-plugin-device" spec="1.1.7" />
<plugin name="cordova-plugin-dialogs" spec="1.3.4" />
<plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
<plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    
	
	
	

	<!-- Third party plugins -->

	<!-- Colocar icono app -->

<icon src="res/android/mdpi.png"/>

</widget>
